@import "~bootstrap/scss/bootstrap";

.movie-card {
    width: calc(25% - 2rem);
    margin: 1rem;

    .card-title {
        font-size: 1.5rem;
        height: 100px;
    }

    .card-body {
        height: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-text {
        font-size: 1rem;
    }
}